@model IEnumerable<Zero_Hunger.Models.CollectionRequest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_RestaturentLayout.cshtml";
}

<p>
    @Html.ActionLink("Open-A-Request", "Create", new { area = "" }, new { @class = "btn btn-primary" })
</p>

@try
{
    if (TempData["type"] != null)
    {
        if (TempData["type"] == "ok")
        {
            <script>
swal("@TempData["info"].ToString()", "@TempData["msg"].ToString()", "success");

            </script>
        }
        else
        {
            <script>swal("@TempData["info"].ToString()","@TempData["msg"].ToString()", "error");</script>
        }
    }
}
catch
{

}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CollectionRequestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.CollectionRequestName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxTimeToPreserve)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    }
</table>