@model Zero_Hunger.Models.CollectionRequest

@{
    ViewBag.Title = "RequestDetails";
    Layout = "~/Views/Shared/_NGOLayout.cshtml";
}

<h2>Request Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CollectionRequestName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CollectionRequestName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distribution.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distribution.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Restaurant.RestaurantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurant.RestaurantName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxTimeToPreserve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxTimeToPreserve)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditRequest", new { id = Model.CollectionRequestId }, new {@class="btn btn-primary"}) |
    @Html.ActionLink("Back to List", "Requests", new { area =""}, new {@class="btn btn-primary"})
</p>
