@model Zero_Hunger.Models.CollectionRequest

@{
    ViewBag.Title = "RequestDetails";
    Layout = "~/Views/Shared/_NGOLayout.cshtml";
}

<h2>Request Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CollectionRequestName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CollectionRequestName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distribution.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Distribution.Location)
        </dd>

        <!-- Rest of the code... -->

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @{
                string statusText = "";
                string btnClass = "";
                switch (Model.Status)
                {
                    case 0:
                        statusText = "Open";
                        btnClass = "btn-danger";
                        break;
                    case 1:
                        statusText = "Accepted";
                        btnClass = "btn-warning";
                        break;
                    case 2:
                        statusText = "Completed";
                        btnClass = "btn-success";
                        break;
                }
            }
            <span class="btn @btnClass">@Html.Raw(statusText)</span>
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "EditRequest", new { id = Model.CollectionRequestId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Requests", new { area = "" }, new { @class = "btn btn-primary" })
</p>
