
@{
    ViewBag.Title = "SignUp";
}


@{

    bool CheckGender(string gn)
    {
        if (Model != null && Model.Gender != null && Model.Gender.Equals(gn))
        {
            return true;
        }
        return false;
    }

    bool CheckProfession(string prop)
    {
        if (Model != null && Model.Profession != null)
        {
            foreach (var p in Model.Profession)
            {
                if (p.Equals(prop)) return true;
            }
        }
        return false;
    }

}

<h2>SignUp</h2>


<form method="post">
    Name:
    <input type="text" name="Name" class="form-control" value="@(Model != null ? Model.Name :"" )" placeholder="Your Name" />
    <span class="text-danger">@Html.ValidationMessage("Name")</span>
    <br />

    Username:
    <input type="text" name="Username" value="@(Model != null ? Model.Username : "" )" class="form-control" placeholder="Username" />
    <span class="text-danger">@Html.ValidationMessage("Username")</span>

    <br>Gender: <input type="radio" checked="@CheckGender("Male")" name="Gender" value="Male" /> Male
    <input type="radio" name="Gender" checked="@CheckGender("Female")" value="Female" /> Female </br>
    <span class="text-danger">@Html.ValidationMessage("Gender")</span>

    <br />Profession:
    <br />
    <input type="checkbox" checked="@CheckProfession("Musician")" name="Profession[]" value="Musician" />Musician <br />
    <input type="checkbox" checked="@CheckProfession("Vloger")" name="Profession[]" value="Vloger" />Vloger <br />
    <input type="checkbox" checked="@CheckProfession("Student")" name="Profession[]" value="Student" />Student <br />
    <input type="checkbox" checked="@CheckProfession("Techer")" name="Profession[]" value="Teccher" />Gaming <br />
    <input type="checkbox" checked="@CheckProfession("Trainer")" name="Profession[]" value="Trainer" />Trainer <br />
    <input type="checkbox" checked="@CheckProfession("Athlet")" name="Profession[]" value="Athlet" />Athlet <br />

    <span class="text-danger">@Html.ValidationMessage("Profession")</span>

    <br />
    Dob: <input type="date" name="Dob" value="@(Model != null ? Model.Dob.Date.ToString("yyyy-MM-dd") : "")" />
    <br />
    <span class="text-danger">@Html.ValidationMessage("Dob")</span>

    <br />
    Student-ID:
    <input type="text" name="Student_Id" class="form-control" value="@(Model != null ? Model.Student_Id:"")" placeholder="Student ID" />
    <span class="text-danger">@Html.ValidationMessage("Student_Id")</span>

    <br />
    Email:
    <input type="email" name="Email" class="form-control" value="@(Model != null? Model.Email: "")" placeholder="Email" />
    <span class="text-danger"> @Html.ValidationMessage("Email")</span>
    <br />
    <input type="submit" class="btn btn-success" />
</form>